html,
body {
    height: 100%;
    margin: 0;
}

.gradiant {
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 132, 169, 100) 70%);
    color: white;
}

.imgCenter {
    text-align: center;
}

.divCenter {
    text-align: center;
}

.containerDivAbout {
    position: relative;

}

.backgroundAbout {
    background-image: url("images/about1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.centerPhotoAbout {
    text-align: center;
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 20%;
}

.about1 {
    background-image: url('images/about1-1.jpg');
    height: 100vh;
}

ul {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.mb-4 {
    margin-bottom: 1.5rem !important;
}

@media (min-width: 576px) {
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
}